---
layout: default
---

<div class="container">
	<div class="row">
		<div class="sm-12 lg-8">
			
			<!-- Conversations -->
			<ul id="posts">
				{% assign site_conversations = site.conversations | reverse %}
				{% for post in site_conversations limit: 3 %}
				<li class="post conversation-posts">
					<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
					<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: "%b %e, %Y" }}</time>
					{% if post.image %}<img src="{{ post.image }}" alt="{{ post.title }}">{% endif %}
					<p>{{ post.excerpt | strip_html | truncatewords:50 }}</p>
					<a class="read-more" href="{{ post.url }}">Continue reading...</a>
				</li>
				{% endfor %}

			</ul>	

			<a class="more-btn" href="/conversations">View More Conversations</a>

			<!-- Nahian's Essays -->
			<h1>Nahian's Essays</h1>
			<ul id="posts">
				{% assign n_essay = site.nahian_essay | reverse %}
				{% for post in n_essay limit: 4 %}
				<li class="post nahians-posts">
					<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
					<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: "%b %e, %Y" }}</time>
					{% if post.image %}<img src="{{ post.image }}" alt="{{ post.title }}">{% endif %}
					<p>{{ post.excerpt | strip_html | truncatewords:50 }}</p>
					<a class="read-more" href="{{ post.url }}">Continue reading...</a>
				</li>
				{% endfor %}

			</ul>	

			<a class="more-btn" href="/nahian">View More Nahian's Essays</a>

			<!-- Omar's Essays -->
			<h1>Omar's Essays</h1>
			<ul id="posts">
			{% assign o_essay = site.omar_essay | reverse %}
				{% for post in o_essay limit: 4 %}
				<li class="post omars-posts">
					<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
					<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: "%b %e, %Y" }}</time>
					{% if post.image %}<img src="{{ post.image }}" alt="{{ post.title }}">{% endif %}
					<p>{{ post.excerpt | strip_html | truncatewords:50 }}</p>
					<a class="read-more" href="{{ post.url }}">Continue reading...</a>
				</li>
				{% endfor %}

			</ul>	

			<a class="more-btn" href="/omar">View More Omar's Essays</a>
		</div>

		
		<div class="sm-12 lg-4 side-container">
			{% include latest_conversations.html %}

			{% include latest_nahian.html %}

			{% include latest_omar.html %}		

			{% include mailing_form.html %}	
		</div>
	</div>
</div>


