<footer>
	<div class="container">
		<div class="row">

			<div class="sm-12 md-8">
				{% include mailing_form.html %}
			</div>

			<div class="sm-12 md-4">
				<h2>Links</h2>
				<ul class="footer-nav-links">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/conversations">Conversations</a>
					</li>
					<li>
						<a href="/nahian">Nahian's Essays</a>
					</li>
					<li>
						<a href="/omar">Omar's Essays</a>
					</li>
					<li>
						<a href="">Forum</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>			
				</ul>				
			</div>
		</div>

		<div class="row">
			<div class="sm-12 center">
				<a href="https://www.trinodal.co/?utm_source=client&amp;utm_medium=website" target="_blank">
					<img width="150" src="//trinodal.co/assets/images/trinodal_badge_white.png" alt="Powered by Trinodal">
					
				</a>			
			</div>
		</div>			
	</div>
</footer>
