<header id="header">
	<div id="particles"></div>
	<a href="/">
		<img src="{{ "/img/logo-w.png" | prepend: site.baseurl | replace: '//', '/' }}" class="logo" alt="Konvos Logo"/>
	</a>

	<nav class="navigation hidden-sm">
		<div class="container">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/conversations">Conversations</a>
				</li>
				<li>
					<a href="/nahian">Nahian's Essays</a>
				</li>
				<li>
					<a href="/omar">Omar's Essays</a>
				</li>
				<li>
					<a href="">Forum</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>			
			</ul>
		</div>
	</nav>
</header>
