<div class="share-icons">
	<h3>Share this:</h3>
    <div class="social-links">
        <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | truncate: 100 }}" target="_blank">
            <img src="/img/twitter.png" alt="Share on Twitter">
        </a>  

        <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
            <img src="/img/facebook.png" alt="Share on Facebook">
        </a>  

        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank">
            <img src="/img/googleplus.png" alt="Share on Google+">
        </a>                                        
    </div>  

</div>  