/*- Custom style -*/

.title {
	margin-top: 0;
}

a.more-btn {
	display: block;
	background-color: #eee;
	color: #803333;
	padding: 10px;
	margin: 20px 0;
	text-align: center;
	clear: both;
	transition: background-color .3s ease;

	&:hover {
		background-color: #803333;
		color: #fff;
	}
}

a.read-more {
	display: inline-block;
	background-color: #803333;
	color: #fff;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	clear: both;
	min-width: 240px;
	transition: opacity .3s ease;

	&:hover {
		opacity: 0.7;
	}
}

#post-page, .post {
/*	h2 {

		font-size: 2em;
		line-height: 1.2em;

		@media(min-width: 940px) {
			font-size: 3em;
		}
	}*/

	.content {
		img {
			width: 100%;
			max-width: 100%;
			display: block;
			margin: 0 auto;
			margin-bottom: 24px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			-ms-border-radius: 4px;
			border-radius: 4px;			
		}
	}	

	.share-icons {
		display: flex;
		align-items: center;

		h3 {
			margin-right: 20px;
		}

		.social-links img {
			width: 36px;
			height: 36px;
		}
	}
}

.conversation-posts, .nahians-posts, .omars-posts {
	img {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		max-width: 240px;

		@media (max-width: 767px) {
			float: none;
			max-width: 100%;
		}
	}
}

.post {
	p {
		font-weight: 300;		
	}
}

.post-inline {
	list-style-type: none;

	li {
		margin-bottom: 5px;
	}

	a {
	    padding: 5px 10px;
	    background: #eee;
	    display: block;

	    &:hover {
	    	background: #ddd;
	    }	
	}
}

.soundcloud {
	margin: 30px 0;
}

.PageNavigation {
    font-size: 16px;
    display: block;
    width: auto;
    overflow: hidden;
    border-right: 2px solid #803333;
    border-left: 2px solid #803333;
    margin-top: 20px;  

    &:after {
    	content: "";
    	clear: both;
    	display: block;
    }

    a {
        display: block;
        width: 50%;
        float: left;
        margin: 1em 0;
    }

    .prev {
    	float: left;
    	padding-left: 20px;
    	transition: padding-left .3s ease;

    	&:hover {
    		padding-left: 10px;
    	}
    }

    .next {
        text-align: right;
        float: right;
        padding-right: 20px;
    	transition: padding-right .3s ease;

    	&:hover {
    		padding-right: 10px;
    	}    	
    }

    .page-label {
    	color: #777;
    }
}

/* Mailing Form */

.form-embed {
    background: #fafafa;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 30px;

    h3 {
    	margin-top: 0;
    }	
}

.mailing-list-form {

	h2 {
		padding: 0;
	}

	input {
		margin-bottom: 20px;
	}

	.mailing-btn {
	    display: block;
	    width: 100%;
	    background: $main-color;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 20px;
	    border: 0;	
	}
}

footer {
	.mailing-list-form {
		text-align: left;

		input, button {
			max-width: 240px;

			@media (max-width: 767px) {
				max-width: 100%;
				width: 100%;
			}
		}

	}

	.footer-nav-links {
		list-style-type: none;
	}
}