---
layout: default
title: Omar's Essays
paginate:
  collection: omar_essay
  per_page: 2
---


<div class="container">
	<div class="row">
		<div class="sm-12 lg-8">

			<h1>Omar's Essays</h1>

			<!-- Posts -->
			<ul id="posts">

				{% for post in paginator.omar_essay %}

				  <li class="post">
				  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
				  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: "%b %e, %Y" }}</time>
				  	<p>{{ post.excerpt | strip_html | truncatewords:50 }}</p>
				  	<a class="read-more" href="{{ post.url }}">Continue reading...</a>
				  </li>

			    {% endfor %}

			</ul>

			{% include paginate.html %}
		</div>

		<div class="sm-12 lg-4 side-container">
			{% include latest_nahian.html %}
		</div>			
	</div>
</div>