---
layout: default
---

<div class="container">
	<div class="row">
		<div class="sm-12 lg-8">
			<article id="post-page">
				<h2>{{ page.title }}</h2>
				<p>Omar</p>		
				<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date: "%b %e, %Y" }}</time>
				<div class="content">

					{{ content }}
					
				</div>

				{% include share.html %} 
				{% include prev_next_page.html %}		

				<div class="form-embed">
				{% include mailing_form.html %}
				</div>		
			</article>

			{% include comments.html %}
		</div>

		<div class="sm-12 lg-4 side-container">
			{% include latest_omar.html %}
		</div>		
	</div>
</div>